name: CI/CD

on:
  push:
    branches: [ "master"]
    tags: [ "v*" ]
  pull_request:
    branches: [ "master"]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Lint (Ruff)
        run: uv run ruff check .

      - name: Run tests
        run: uv run pytest

      - name: Build package
        run: uv build

      - name: Upload Build Artifact
        if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v4
        with:
          name: pypi-artifacts
          path: dist/*
          retention-days: 1

  publish:
    name: Release and Publish
    needs: build
    # Run only if it's a Tag OR a Manual run
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required for GitHub Releases
      id-token: write  # Required for PyPI Trusted Publishing

    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: pypi-artifacts
          path: dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages_dir: dist/
